# INFRASTRUCTURE
DB_PASSWORD="The database password"

# BACKEND
FRONTEND_URL="Frontend URL for backend"
SWAGGER_PROD_API_URL="The API URL to be shown on Swagger UI"
API_PORT="The port where the API is running on"
NODE_ENV="Node environment"
DB_HOST="The DB host"
DB_PORT="The port where the DB is running on"
DB_USERNAME="The DB username"
DB_PASSWORD="The DB password"
DB_NAME="The DB name"

# FRONTEND
NEXT_PUBLIC_API_URL="API URL for frontend"